Repository dannycahyo/fin-islam: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md}": "prettier --write",
  "*.{ts,tsx}": "eslint --ext ts,tsx --fix",
  "*.ts": "eslint --ext ts --fix"
}

feat: implement pagination for document listing and enhance API integration
  backend/controllers/document.controller.ts
  backend/repositories/document.repository.ts
  backend/services/document.service.ts
  frontend/app/components/document-list/DocumentList.tsx
  frontend/app/components/ui/pagination.tsx
  frontend/app/hooks/use-documents.ts
  frontend/app/lib/api/documents.ts
  shared/src/schemas/document.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: improve error handling and code structure in search controller
  backend/controllers/search.controller.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: update dotenv configuration to specify environment file path
  backend/app.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: enhance compliance validation prompts and clarify Musharakah rules
  backend/agents/builders/compliance-prompt-builder.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: enhance knowledge agent to handle no document scenarios and provide general responses
  backend/agents/knowledge-agent.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add Docker containerization for production deployment
  .dockerignore
  .env.prod.example
  backend/app.ts
  docker-compose.prod.yml
  docker/backend.Dockerfile
  docker/entrypoint.sh
  docker/frontend.Dockerfile
  docker/nginx.conf
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: correct drizzle migrations path in backend Dockerfile
  docker/backend.Dockerfile
Due: none

fix: resolve Docker build and runtime issues
  .dockerignore
  backend/tsconfig.json
  docker-compose.prod.yml
  docker/backend.Dockerfile
  docker/entrypoint.sh
  docker/frontend.Dockerfile
Due: prettier --write

feat: refactor API base URL handling to use dynamic base URL function
  frontend/app/hooks/use-chat-stream.ts
  frontend/app/lib/api/documents.ts
  frontend/app/lib/fetcher.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add Ollama containerization with split cloud/local configuration
  .env.prod.example
  backend/agents/calculation-agent.ts
  backend/agents/compliance-agent.ts
  backend/agents/knowledge-agent.ts
  backend/agents/routing-agent.ts
  backend/agents/types.ts
  backend/services/embedding-service.ts
  docker-compose.prod.yml
  docker/ollama-entrypoint.sh
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

docs: update README for Docker containerization and production deployment instructions
  README.md
Due: prettier --write

feat: differentiate docker for development purposes
  .env.dev.example
  docker-compose.dev.yml
Due: none

docs: make README to be more concise
  README.md
Due: prettier --write

docs: restructure README to reflect current monorepo architecture
  README.md
Due: prettier --write
