Repository dannycahyo/fin-islam: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md}": "prettier --write",
  "*.{ts,tsx}": "eslint --ext ts,tsx --fix",
  "*.ts": "eslint --ext ts --fix"
}

fix: improve formatting of welcome message in ChatPage
  frontend/app/routes/index.tsx
Due: prettier --write, eslint --ext ts,tsx --fix

feat: enhance DocumentProcessor with file validation and error handling
  backend/services/document-processor.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add chat interface with message display and streaming support
  frontend/app/components/chat/Chat.tsx
  frontend/app/components/chat/ChatInput.tsx
  frontend/app/components/chat/MessageBubble.tsx
  frontend/app/components/chat/StreamingIndicator.tsx
  frontend/app/components/chat/index.ts
  frontend/app/components/chat/types.ts
  frontend/app/reducer/chatReducer.ts
  frontend/app/routes/index.tsx
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add document upload form with validation and drag-and-drop support
  frontend/app/components/document-upload-form.tsx
  frontend/app/components/ui/label.tsx
  frontend/app/components/ui/select.tsx
  frontend/app/routes/admin.tsx
Due: prettier --write, eslint --ext ts,tsx --fix

refactor: migrate MCP server to new API and modular architecture
  mcp-server/src/calculators/mudharabah.ts
  mcp-server/src/calculators/musharakah.ts
  mcp-server/src/index.ts
  mcp-server/src/schemas/index.ts
  mcp-server/src/tools/index.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement text chunking with RecursiveCharacterTextSplitter
  backend/fixtures/long-document.txt
  backend/fixtures/medium-document.txt
  backend/fixtures/sample.md
  backend/fixtures/short-document.txt
  backend/package.json
  backend/services/chunking-service.ts
  backend/tests/chunking-service.test.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: adjust the folder structuring
  frontend/app/components/document-upload-form/DocumentUploadForm.tsx
  frontend/app/components/document-upload-form/index.ts
  frontend/app/constants/document.ts
  frontend/app/reducer/documentUploadFormReducer.ts
  frontend/app/routes/admin.tsx
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: update PDF version and add numrender property in tests
  backend/__tests__/unit/document-processor.test.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: remove short document fixture and chunking service test suite
  backend/fixtures/long-document.txt
  backend/fixtures/medium-document.txt
  backend/fixtures/sample.md
  backend/fixtures/short-document.txt
  backend/tests/chunking-service.test.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: update import path for document constants
  frontend/app/reducer/documentUploadFormReducer.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: update license section to include link to LICENSE file
  README.md
Due: prettier --write

feat: add embedding service with Ollama integration
  backend/__tests__/unit/embedding-service.test.ts
  backend/services/embedding-service.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement vector search with HNSW indexing
  backend/__tests__/integration/vector-search-performance.test.ts
  backend/__tests__/integration/vector-search.test.ts
  backend/__tests__/setup.ts
  backend/controllers/document.controller.ts
  backend/controllers/index.ts
  backend/controllers/search.controller.ts
  backend/db/migrations/0001_add_hnsw_index.sql
  backend/repositories/chunk.repository.ts
  backend/repositories/document.repository.ts
  backend/repositories/index.ts
  backend/routes/document.routes.ts
  backend/routes/index.ts
  backend/routes/search.routes.ts
  backend/server.ts
  backend/services/document.service.ts
  backend/services/search.service.ts
  backend/tsconfig.json
  backend/vitest.config.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: update import paths to use alias for cleaner code structure
  backend/__tests__/integration/vector-search.test.ts
  backend/controllers/document.controller.ts
  backend/controllers/search.controller.ts
  backend/repositories/chunk.repository.ts
  backend/repositories/document.repository.ts
  backend/routes/document.routes.ts
  backend/routes/search.routes.ts
  backend/services/document.service.ts
  backend/services/search.service.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: enhance document upload and search functionality with validation schemas
  backend/controllers/document.controller.ts
  backend/controllers/search.controller.ts
  backend/schemas/common.schemas.ts
  backend/schemas/document.schemas.ts
  backend/schemas/index.ts
  backend/schemas/search.schemas.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: remove unnecessary comments from root and health check endpoints
  backend/server.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement routing agent with prompt builder architecture
  backend/__tests__/unit/routing-agent.test.ts
  backend/agents/builders/base-prompt-builder.ts
  backend/agents/builders/index.ts
  backend/agents/builders/routing-prompt-builder.ts
  backend/agents/routing-agent.ts
  backend/agents/types.ts
  backend/db/schema.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: integrate routing agent into search endpoint
  .env.example
  backend/controllers/search.controller.ts
  backend/routes/search.routes.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add 'general' category for miscellaneous questions in PRD
  docs/PRD.md
Due: prettier --write

fix: update inputSchema for Musharakah and Mudharabah tools to use correct schema
  mcp-server/src/tools/index.ts
  mcp-server/tsconfig.json
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement KnowledgeAgent with RAG pipeline
  .env.example
  backend/__tests__/unit/knowledge-agent.test.ts
  backend/agents/builders/knowledge-prompt-builder.ts
  backend/agents/knowledge-agent.ts
  backend/agents/types.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement compliance agent for Shariah validation
  backend/__tests__/unit/compliance-agent.test.ts
  backend/agents/builders/compliance-prompt-builder.ts
  backend/agents/builders/index.ts
  backend/agents/compliance-agent.ts
  backend/agents/types.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement calculation agent with MCP integration
  backend/__tests__/unit/calculation-agent.test.ts
  backend/agents/builders/calculation-prompt-builder.ts
  backend/agents/builders/index.ts
  backend/agents/calculation-agent.ts
  backend/lib/mcp-client.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

test: fix unit test failures in calculation-agent and session-store
  backend/__tests__/unit/calculation-agent.test.ts
  backend/__tests__/unit/session-store.test.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement agent orchestrator with session management
  backend/__tests__/unit/agent-orchestrator.test.ts
  backend/__tests__/unit/calculation-agent.test.ts
  backend/__tests__/unit/session-store.test.ts
  backend/agents/agent-orchestrator.ts
  backend/agents/types.ts
  backend/controllers/search.controller.ts
  backend/routes/search.routes.ts
  backend/schemas/orchestrator.schemas.ts
  backend/services/session-store.ts
  backend/types/orchestrator.types.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: implement document list with shared schema architecture
  backend/package.json
  backend/schemas/common.schemas.ts
  backend/schemas/document.schemas.ts
  frontend/app/components/document-list/DocumentCard.tsx
  frontend/app/components/document-list/DocumentList.tsx
  frontend/app/components/document-list/index.ts
  frontend/app/components/ui/alert-dialog.tsx
  frontend/app/components/ui/badge.tsx
  frontend/app/hooks/use-documents.ts
  frontend/app/lib/api/documents.ts
  frontend/app/lib/fetcher.ts
  frontend/app/routes/admin.tsx
  frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/package.json
  shared/src/index.ts
  shared/src/schemas/common.ts
  shared/src/schemas/document.ts
  shared/src/schemas/index.ts
  shared/tsconfig.json
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: integrate upload form with backend API using TanStack Query
  frontend/app/components/document-upload-form/DocumentUploadForm.tsx
  frontend/app/hooks/use-documents.ts
  frontend/app/lib/api/documents.ts
  frontend/app/reducer/documentUploadFormReducer.ts
  shared/src/schemas/document.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

refactor: improve code readability and formatting in CalculationAgent class
  backend/agents/calculation-agent.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: integrate chat with backend SSE streaming API
  frontend/app/components/chat/Chat.tsx
  frontend/app/hooks/use-chat-stream.ts
  frontend/app/hooks/use-session.ts
  frontend/app/lib/api/search.ts
  frontend/app/lib/api/sse-client.ts
  frontend/app/utils/error-messages.ts
  shared/src/schemas/index.ts
  shared/src/schemas/search.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: change console.log to console.error for server status messages
  mcp-server/src/index.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

docs: add new Islamic finance comparison documents and principles
  docs/comparsion_documents/Choosing_the_Right_Islamic_Finance_Product_-_Decision_Guide.pdf
  docs/comparsion_documents/Islamic Banking vs Conventional Banking - Comprehe 2e142f0e32178189ba61c1af9e38c32e.md
  docs/comparsion_documents/Islamic_Finance_Products_Detailed_Comparison_-_Murabaha_vs_Ijara_vs_Musharaka_vs_Mudaraba.pdf
  docs/islamic_finance_products/Qard_al-Hasan_-_Benevolent_Loan.pdf
  docs/islamic_finance_products/Salam_-_Forward_Sale_Contract.pdf
  docs/principles/Gharar (Uncertainty) - Risk and Ambiguity in Islam 2e142f0e321781dd8166cbe034c1c4b2.md
  docs/principles/Halal_and_Haram_-_Permissibility_in_Islamic_Finance.pdf
  docs/principles/Riba_(Interest)_-_Foundational_Principle_in_Islamic_Finance.pdf
Due: prettier --write

docs: add Musharakah profit and loss distribution guidelines
  docs/calculations/mudharabah-profit-loss-distribution.md
  docs/calculations/musharakah-profit-loss-distribution.md
Due: prettier --write

test: Add accuracy testing framework and sample questions
  package.json
  pnpm-lock.yaml
  tests/README.md
  tests/TESTING_GUIDE.md
  tests/run-accuracy-test.ts
  tests/test-questions.json
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add document seeding script for knowledge base
  package.json
  pnpm-lock.yaml
  scripts/config/seed-config.ts
  scripts/seed-documents.ts
  scripts/tsconfig.json
  scripts/types.ts
  scripts/utils/file-scanner.ts
  scripts/utils/metadata-extractor.ts
  scripts/utils/upload-client.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

test: add comprehensive HTTP integration tests for API endpoints
  backend/__tests__/fixtures/test-uploads/invalid.xyz
  backend/__tests__/fixtures/test-uploads/sample.docx
  backend/__tests__/fixtures/test-uploads/sample.md
  backend/__tests__/fixtures/test-uploads/sample.pdf
  backend/__tests__/fixtures/test-uploads/sample.txt
  backend/__tests__/helpers/sse-parser.ts
  backend/__tests__/helpers/test-app.ts
  backend/__tests__/helpers/test-data.ts
  backend/__tests__/helpers/test-db.ts
  backend/__tests__/integration-setup.ts
  backend/__tests__/integration/api/chat-streaming.test.ts
  backend/__tests__/integration/api/document-delete.test.ts
  backend/__tests__/integration/api/document-list.test.ts
  backend/__tests__/integration/api/document-upload.test.ts
  backend/__tests__/integration/api/health.test.ts
  backend/__tests__/integration/api/session.test.ts
  backend/app.ts
  backend/db/test-config.ts
  backend/package.json
  backend/server.ts
  backend/vitest.integration.config.ts
  package.json
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

feat: add production-ready Docker infrastructure
  .dockerignore
  .github/workflows/docker-build.yml
  CLEAN_SYSTEM_TEST.md
  DEPLOYMENT_SUMMARY.md
  DOCKER.md
  Makefile
  QUICKSTART.md
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.cpu.yml
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  mcp-server/.dockerignore
  mcp-server/Dockerfile
  scripts/bootstrap.sh
  scripts/health-check.sh
  scripts/init-ollama.sh
  scripts/setup-database.sh
  scripts/wait-for-services.sh
Due: prettier --write

feat: polish UI/UX with responsive design, accessibility, and WCAG compliance
  frontend/app/components/chat/Chat.tsx
  frontend/app/components/chat/ChatInput.tsx
  frontend/app/components/chat/MessageBubble.tsx
  frontend/app/components/document-list/DocumentCard.tsx
  frontend/app/components/document-list/DocumentList.tsx
  frontend/app/components/document-upload-form/DocumentUploadForm.tsx
  frontend/app/components/layout.tsx
  frontend/app/components/ui/button.tsx
  frontend/app/components/ui/input.tsx
  frontend/app/components/ui/skeleton.tsx
  frontend/app/components/ui/textarea.tsx
  frontend/app/index.css
  frontend/app/routes/admin.tsx
  frontend/app/routes/index.tsx
  frontend/app/utils/error-messages.ts
Due: prettier --write, eslint --ext ts,tsx --fix, eslint --ext ts --fix

fix: simplify .env file creation in Docker build workflow
  .github/workflows/docker-build.yml
Due: none

refactor: remove redundant comments and streamline Dockerfile instructions
  backend/Dockerfile
  frontend/Dockerfile
  mcp-server/Dockerfile
Due: none

feat: add cloud Ollama configuration and bootstrap support in Makefile
  CLOUD_OLLAMA.md
  Makefile
  QUICKSTART.md
  docker-compose.cloud.yml
  scripts/init-ollama-embeddings.sh
Due: prettier --write
